html {
    background: darkgrey;
}

#board {
    text-align: center;
    margin: auto;
    width: 210px;
}

.inline {
    display: inline-block;
}

.score {
    background: black;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

#error {
    background: grey;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-left: 130px;
}

#victory {
    color: white;
    font-weight: bold;
    background-color: #9C27B0;
    border-radius: 5px;
    padding: 5px;
    visibility: hidden;
}

.row {
    display: block;
}

.row-settings {
    margin-top: 5px;
}

.row-settings > button {
    font-weight: 600;
}

.button {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: solid 12px;
}

#red {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 100% 0% 0% 0%;
}

#blue {
    background-color: rgba(0, 0, 255, 0.6);
    border-radius: 0% 100% 0% 0%;
}

#green {
    background-color: rgba(0, 128, 0, 0.6);
    border-radius: 0% 0% 0% 100%;
}

#yellow {
    background-color: rgba(255, 255, 0, 0.6);
    border-radius: 0% 0% 100% 0%;
}