#board {
    text-align: center;
    margin: auto;
    width: 200px;
}

.row {
    display: block;
}

.button {
    width: 100px;
    height: 100px;
    display: table-cell;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}